* {
  margin: 0px;
  padding: 0px;
}
body {
  text-align: center;
}
body h1 {
  animation: blink 1s infinite ease-in-out;
  color: #007fe2;
  font-family: sans-serif;
  font-size: 10em;
  margin-top: 50px;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
